<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings >
		<add key ="ServerName" value ="DESKTOP-OE8LU8N\MVSSQLEXPRESS"/>
		<add key ="DBName" value ="SistemaMatriculaWeb"/>
		<add key ="User" value ="MatriculaWebUsr"/>
		<add key ="Pass" value ="qnPde90215tj"/>
	</appSettings>
</configuration>